<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>湖北教育云</title>
    <script>document.write( " <link rel='stylesheet' href='./n_css/index.css?rnd= " + Math.random() + " '>" );</script>
    <script>document.write( " <link rel='stylesheet' href='./n_css/marquee.css?rnd= " + Math.random() + " '>" );</script>
</head>
<body id="background">
<div class="L_main" style="display:none;">
    <div class="marquee str_wrap" onclick="marqueeClick()"></div>
    <div class="container">
        <div class="header centerMiddle clb">
            <img src="n_image/logo.png" class="fl">
            <div class="fl">湖北教育云</div>
        </div>

        <div class="main">
            <div class="info introBg borderRadius" onclick="urlGo(0)">
                <div class="title">
                    <a href="#">湖北省教育资源公共服务平台新版</a>
                </div>
                <div class="net">
                    <a href="#">new.hbeducloud.com</a>
                </div>
                <div class="slogan centerMiddle clb">
                    <div class="sloganImg iconService2 fl">
                        <!--<img src="./n_image/service2.0.png">-->
                    </div>
                    <div class="sloganInfo fl">
                        <div class="item clb">
                            <div class="circle fl"><div class="circle-inner"></div></div>
                            <div class="fl">开放、兼容、共建、共享</div>
                        </div>
                        <div class="item clb">
                            <div class="circle fl"><div class="circle-inner"></div></div>
                            <div class="fl">教育信息化2.0<span class="split">大平台、大资源、大数据</span></div>
                        </div>
                        <div class="item clb">
                            <div class="circle fl"><div class="circle-inner"></div></div>
                            <div class="fl">教育信息化统一平台，唯一入口</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subInfo clb">
                <div class="subItem introBg borderRadius fl" onclick="urlGo(1)">
                    <div class="itemTitle">湖北省教育资源公共服务平台旧版</div>
                    <div class="itemTip">2019年6月30日后不再运营维护</div>
                    <div class="itemImg iconService1">
                        <!--<img src="./n_image/service1.0.png">-->
                    </div>
                </div>
                <div class="subItem introBg borderRadius fl" onclick="urlGo(2)">
                    <div class="itemTitle">竞赛网（含电子证书系统）</div>
                    <div class="itemImg iconCompetition">
                        <!--<img src="./n_image/competition.png">-->
                    </div>
                </div>
                <div class="subItem introBg borderRadius fl" onclick="urlGo(4)">
                    <div class="itemTitle">湖北省优秀网络教研工作室</div>
                    <div class="itemImg teaching">
                        <img src="./n_image/teaching.png">
                    </div>
                </div>
                <div class="subItem introBg borderRadius fl" onclick="urlGo(3)">
                    <div class="itemTitle">湖北省特色教育资源</div>
                    <div class="itemImg iconResource">
                        <!--<img src="./n_image/resources.png">-->
                    </div>
                    <div class="itemNew">
                        <div class="newImg transRotate"></div>
                        <div class="newTip centerMiddle">NEW</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div>版权所有：湖北省教育资源公共服务平台</div>
            <div>武汉烽火信息集成技术有限公司 承建 鄂ICP备05010814号-3</div>
            <div>运营支持：湖北省楚天云有限公司</div>
            <div>地址：湖北省武汉市武昌区洪山路2号　邮编：430071</div>
        </div>
    </div>
</div>
<div class="L_loading" style="margin:200px auto;text-align:center;">页面加载中，请稍等......</div>
</body>

<script src="./n_js/jquery.min.js"></script>
<script src="./n_js/updateUrl.js"></script>
<script src="./n_js/marquee.js"></script>
<script src="./n_js/layer/layer.js"></script>
<script>
    $(document).ready(function() {
        var href = window.location.href;
        var pattern = /www\.hbeducloud\.com[\/]?$/;
        if(!pattern.test(href) && href.indexOf('www.hbeducloud.com')!=-1){
            window.location.href = href.replace(/www\.hbeducloud\.com/g, "old.hbeducloud.com");
        }else{
            addFadeInBackground('./n_image/bg.png', 'background');
            $('.L_main').css('display', 'block');
            $('.L_loading').css('display','none');
        }
//        window.location.href = 'http://old.hbeducloud.com';
    });

    var msg = "湖北省教育公共资源服务平台新版（简称新平台）已正式上线，旧平台将于2019年3月31号正式下线，后续不再运营维护。请仍在使用旧平台的用户尽快联系省平台客服工作人员，以方便工作人员配合您做好新平台账号开通及资源迁移工作。对于给您带来的不便深表歉意，新平台全面改版以为您提供更加优质的服务体验。联系电话：4008885891；联系人：周奇玲。&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;";
    $(window).load(function(){
        $('.marquee').html(msg);

		$('.marquee').liMarquee({
            scrollamount:40
        });
    });

    function addFadeInBackground(url, domId) {
        var background = new Image();
        background.src = url;
        background.onload = function () {
            var loadbackground = document.getElementById(domId);
            loadbackground.style.backgroundImage = 'url(' + background.src + ')';
            loadbackground.style.animationName = 'fadein';
        }
    }

    function urlGo(flag) {
        switch(flag){
            case 0://平台2.0
                window.open('http://new.hbeducloud.com');
                break;
            case 1://平台1.0
                var url = window.location.href;
                url = $.UrlUpdateParams(url, "r_n" , Math.random());
//                window.open(url);
                window.open('http://www.hbeducloud.com');
                break;
            case 2://竞赛网
                window.open('http://js.hbeducloud.com');
                break;
            case 3://湖北省特色教育资源
                window.open('http://rs.hbeducloud.com');
                break;
            case 4://湖北省优秀网络教研工作室
                window.open('http://teacher.e21.cn');
                break;
            default:
                break;
        }
    }

    function marqueeClick() {
        layer.msg(msg,{
            time:false,
            closeBtn:1,
            shade: [0.3, '#000'],
            area:['386px']
        });
    }
</script>
</html>