<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>初版jqGrid表格</title>
    <link rel="stylesheet" href="./css/index.css"/>
    <script>document.write( " <link rel='stylesheet' href='../../static/resources/css/main.css?rnd= " + Math.random() + " '>" );</script>
</head>
<body>
<div class="container">
    <div class="title">初版jqGrid表格-使用实例</div>
    <div class="desc">
        实例来源：投票问卷系统
        <a href="http://vote-test.hbeducloud.com/html/index">http://vote-test.hbeducloud.com/html/index</a>
    </div>
    <div id="main" class="content" v-cloak>
        <div class="grid">
            <table id="grid"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
</body>

<script src="../../static/contrib/js/jquery.min.js"></script>
<script src="../../static/contrib/js/vue.js"></script>
<script src="../../static/pub/layer/layer.js"></script>
<script>document.write('<script src="../../static/resources/js/utils.js?rnd='+Math.random()+'"><'+'/script>')</script>
<script>document.write('<script src="../../static/resources/js/URLs.js?rnd='+Math.random()+'"><'+'/script>')</script>

<script>
    $(function () {
        new Vue({
            el: '#main',
            data: {

            },
            ready:function () {
                
            },
            computed:{

            },
            methods:{

            },
            watch:{

            }
        })

    })
</script>
</html>