/*--------------------统一浮窗样式 start----------------------------*/
div.layui-layer{overflow: hidden;border-radius: 5px;}
.layui-layer .layui-layer-title{color: #444444;font-size: 16px;font-weight: bold;background: #ffffff;border-bottom: solid 1px #f0f0f0;}
.layui-layer-setwin .layui-layer-close1{ background-position: 0 -2px;opacity: 0.7;margin-top: -5px;}
.layui-layer .layui-layer-setwin .layui-layer-ico{background: url("../image/delete.png") no-repeat;}
.layui-layer .layui-layer-setwin a{ width: 24px; height: 24px;}
body .layui-layer .layui-layer-btn a{padding: 0 25px;border-radius: 20px;font-size: 14px;}
.layui-layer .layui-layer-btn .layui-layer-btn1{background: #fff;/*box-shadow: 2px 2px 1px rgba(0,0,0,0.1)*/}
.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn{padding-left:40px;padding-right: 40px;}

button.btn1{background-color:#fff;color:#308ce3;border: 1px solid #308ce3;}
button.btn1:hover{background-color:rgba(70,133,255,.1)}
button.btn1[disabled]{background-color:#fff;color:rgba(70,133,255,.6);border:1px solid rgba(70,133,255,.6);cursor:default;}

/*删除弹框样式*/
.layui-layer-content .myDel{margin:54px 40px 0 40px;position: relative;}
.layui-layer-content .myDel .warn{position: absolute;left: 0;top: 0;width: 50px;height: 50px;background: url('../image/warning.png') 100% 100%;background-size: 100% 100%;}
.layui-layer-content .myDel .content{padding-left: 60px;}
.layui-layer-content .myDel .content .title{line-height:26px;font-size: 16px;color:#444;}
.layui-layer-content .myDel .content .tip{margin-top:8px;color: #888;font-size: 14px;}

/*选择人员-无人员样式*/
.layui-layer-content .noneData{margin:50px 40px 0 40px;text-align: center;}
.layui-layer-content .noneData .warn{margin:0 auto;width: 50px;height: 50px;background: url('../image/warning.png') 100% 100%;background-size: 100% 100%;}
.layui-layer-content .noneData .warn-title{line-height:26px;font-size: 16px;color:#444;}
.layui-layer-content .noneData .warn-tip{margin-top:8px;color: #888;font-size: 14px;}

/*form表单样式*/
.layui-layer .table-form{width: 90%;margin: 20px auto;font-size: 14px;}
.layui-layer .table-form td{height: 50px;}
.layui-layer .table-form input{width:182px;}
.layui-layer .table-form select{width:200px;}
.layui-layer-msg .layui-layer-content{color:#fff!important}
.table-form label:before{content: '';display: inline-block;width:10px;margin:auto;vertical-align:middle;}
.table-form label.required:before{content: '*';color: #f74747;}

/*选择人员弹框样式*/
.modal-tool {font-size:14px;margin: 20px 40px 20px;line-height: 30px;color: #aaa;overflow: hidden;}
.modal-tool-check {color: #ff9e35;cursor: pointer;}
.modal-tool-check .select-all {color: #23d42e;}
.modal-main {margin: 0 10px 0 30px;height: 380px;overflow: hidden;}
.modal-tool input[name='keyword']{width:122px;}
.modal-tool select {background-position-x: 88px;border-color: #dcdcdc;}
.modal-tool input {padding: 0 10px;width: 240px;border-color: #dcdcdc;  }
.modal-tool-search {width: 30px;height: 30px;background: #308ce3 url('../image/icon-search.png') no-repeat center;border-radius: 50%;cursor: pointer;}
.modal-card {margin: 10px;width: 138px;height: 138px;text-align: center;font-size: 16px;font-weight: bold;color: #444;
    /*background-color: #eee;*/
    background: url('../image/icon-nosel.png') no-repeat right top;
    cursor: pointer;
}
.modal-card.active {
    background: url('../image/icon-sel.png') no-repeat right top;
    /*background-color: #83BDF5;*/
}
.modal-card img {margin: 20px 0 5px;width: 60px;border-radius: 50%;}
.modal-card-desc {font-weight: normal;font-size: 14px;color: #aaa;line-height: 30px;}
.modal-btn {margin: 10px 40px;line-height: 30px;font-size: 14px;}
.modal-btn-cancel {margin-left: 20px;color: #444;background-color: #fff;border-color: #dcdcdc;  }
/*--------------------新版 统一浮窗样式 start----------------------------*/
